.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 980px;
  padding: 0 60px;
  margin: 20px auto 0;
  place-items: center;
  gap: 20px;
}

@media (width <=767px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <=520px) {
  .cardContainer {
    display: block;
  }
}

.btnArea {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 13px 32px;
  background: #539165;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 8px 21px -2px #539165;
  cursor: pointer;
  transition: .3s ease;
}

.btn:hover {
  transform: translateY(5px);
  box-shadow: none;
}
